GRAPHRAG_API_KEY=your_bailian_or_embedding_api_key
KG_NEO4J_URI=bolt://localhost:7687
KG_NEO4J_USER=neo4j
KG_NEO4J_PASSWORD=your_neo4j_password
KG_EMBEDDING_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
KG_EMBEDDING_MODEL=text-embedding-v3
TASKPATH_DIR=C:/Users/<user>/Desktop/KG/task_paths

